:root {
    --blue: #46C1B6;
    --green: #0D1B1E;
    --pink: #F2CEE6;
    --brown: #A63D40;
    --yellow: #E9B872;
    --white: #EEE5E9;
}

html {
    background-image: url(../imgs/animal_crossing_wallpaper.png);
    background-attachment: fixed;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    text-align: center;
    color: var(--white);
    -webkit-text-stroke: 1px var(--green);
    font-size: 4rem;
    background-color: #46c1b7b7;
    width: fit-content;
    border-radius: 10px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result {
    width: 20%;
    height: 15rem;
    margin: 2.5% 2.5%;
    position: relative;
    border-radius: 10px;
}

@media screen and (max-width: 850px) {
    .result {
        width: 40%;
        height: 20rem;
    }
}

.result-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: 5px solid var(--green);
    border-radius: 10px;
    z-index: 10;
}

.front img {
    width: 70%;
}

.front p {  
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

.front {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
}

.back {
    transform: rotateY(180deg);
    background-color: var(--pink);
}

.back p {
    margin-left: 10px;
    margin-right: 10px;
}

.front, .back, .card-img, .name {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.result-card:hover {
    transform: rotateY(180deg)
}

p {
    text-align: center;
}

#buttons {
    height: 2rem;
}

#clear {
    display: block;
    margin: 0 auto;
}

#instructions {
    background-color: var(--white);
    font-size: 1.2rem;
    width: 35%;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

button{
    color: var(--green);
    width: 6rem;
    height: 2rem;
    background-color: var(--yellow);
    border: 1px solid var(--green);
    border-radius: 20px;
    font-size: 1.1rem;
    box-shadow: 1px 1px #0D1B1E;
}

button:active {
    background-color: var(--brown);
    color: var(--white);
    box-shadow: inset 1px 1px #0D1B1E;
}

select {
    background-color: var(--white);
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    border: 1px solid var(--green);
}

a, a:visited, a:active {
    background-color: var(--blue);  
    color: var(--green);
}